body{
    display: grid;
    place-items: center;
    background: linear-gradient(rgb(238, 163, 213),rgb(177, 230, 93));
    font-size: 1.4rem;
    font-weight: bold;
}
#resultContainer{
    border: 3px solid blue;
    border-radius: 8px;
    color: rgb(10, 10, 10);
    background-color: chartreuse;

}
select{
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: coral;
    width: 150px;
    border: 3px solid yellow;
    height: 40px;

}
#temp{
    border-radius: 10px;
    color: rgb(10, 10, 10);
    background-color: rgb(0, 166, 231);
    font-size: 2rem;
}
#final{
    border: 3px solid yellow;
    border-radius: 8px;
    background-color: palegreen;
    width: 100px;
    font-weight: bold;
}
form{
    position: relative;
    top: 250px;
}
label{
    text-decoration: underline;
    position: relative;
    color: rgb(248, 8, 188);

}
